body{
    width: 100%;
    font-family: Calibri;
    background-color: rgb(188, 255, 233);
}
h1{
    color:black;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(121, 161, 67);
    overflow: hidden;
}
.nav li{
    float: left;
}
.nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #395701;
}
.box{
    text-align: center;
    width: 50%;
    border-spacing: 20px;
}
.ele{
    display: block;
    background-color: #264100;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 25px 25px;
    border-radius: 10px;
    font-size: 15px;
}
.ele:hover {
    background-color: #6ba500;
}
.spa {
    padding: 20px;
    width: 50%;

}
.date{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
}
.logo{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 100px;
    height: auto;

}
.obj{
    font-family: arial;
    font-style: italic;
    background-color: #febb4f;

}
.sysf{
    font-family: verdana;
    font-style: italic;
    background-color: #f9faf8;
}
.ben{
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 20px ;
    background-color: #3b9c1d;
}
blockquote {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #f1f8e9;
    border-left: 5px solid #4caf50;
}
.navi{
    position: absolute;
    top: 100px;
    right: 15px;
    font-size: 25px;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 14px;
    width: 100%;
}
.farmap{
    width: 643px;
    height: 616px; 
}
.rec{
    width: 100%;
}
.reco{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
thead {
        background-color: #42ca11;
    }

tfoot {
    font-weight: bold;
    background-color: #40c54d;
}
button {
            padding: 10px 20px;
            margin-right: 10px;
            cursor: pointer;
    }
video {
            max-width: 700px;
            width: 100%;
        }
iframe {
            max-width: 100%;
            border: 1px solid #555;
        }
.bcard {
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 2px solid green;
    background-color: #3fb43f;
    box-shadow: 0 4px 8px rgba(73, 73, 73, 0.3);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}
.bcard:hover {
    background-color: #8abe75;
}
